@using PingItWebsite.Models;

<table>
    Broadband Crowdsource 
    <tr>
        <td>TimeStamp</td>
        <td>URL</td>
        <td>LoadTime(s)</td>
        <td>City</td>
        <td>State</td>
        <td>Platform</td>
    </tr>
    @foreach (WebTest test in Model)
    {
        <tr>
            <td>@test.date.ToString()</td>
            <td>@test.url</td>
            <td>@test.loadtime.ToString()</td>
            <td>@test.city</td>
            <td>@test.state</td>
            <td>@test.browser</td>
        </tr>

    }
</table>
